<html>
<head>
    <!--  Meeting CSS 1    -->
    <link href="assets/css/admin-meeting-css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    <!--  Meeting CSS 2     -->
    <link href="assets/css/admin-meeting-css/demo.css" rel="stylesheet" />
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/css/flatpickr.min.css">
    <script src="assets/js/flatpickr.js"></script>
   </head>
   <style>
    .datetimepicker {
        background-color: #FFFFFF;border: 1px solid #E3E3E3;border-radius: 4px;color: #565656;padding: 8px 12px;"
    }
</style>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{estateNameDisplay}}
                </a>
                <a href="/" class="simple-text">
                    {{estateNameChn}} 
                </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/Noticeboard">
                        <i class="pe-7s-note2"></i>
                        <p>NOTICEBOARD
                            <br> 通告
                        </p>
                    </a>
                </li>
                <li class="active">
                    <a href="/allMeetings">
                        <i class="pe-7s-folder"></i>
                        <p>MEETINGS
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/getSurveys">
                        <i class="pe-7s-graph"></i>
                        <p>Surveys</p>
                        <p>問卷</p>
                    </a>
                </li>
                 <li>
                    <a href="/getForum">
                        <i class="pe-7s-science"></i>
                        <p>Forum
                            <br> 論壇
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-back"></i>
                        <p>LOG OUT
                            <br> 登出
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header" style="width: 100%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Meetings | 會議</a>
                    <div class="meeting-btn add-meeting-btn">
                        <a href="/addMeeting" class="btn btn-primary navbar-btn pull-right">  Add a Meeting | 添加會議</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div id="customMainComponent" class="row page-wrapper custom_wrapper">
            <div id="sidebarMenu" class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav sidebar-nav">
                            <li class="panel panel-default" id="dropdown" >
                                <a data-toggle="collapse" href="#dropdown-lvl1" class="dropdown-list up-meeting" style="    border-bottom: 1px solid #e7e7e7;">
                                    <span>Upcoming Meetings | 近期會議</span>
                                    <span class="sidebar-rt-arrow">
                                        <i id="ispan" class="fa fa-angle-right right-arrow-add" style="font-size:27px;"></i>
                                    </span>
                                </a>
                               <div id="dropdown-lvl1" class="panel-collapse collapse in">
                                    <div class="custome-panel-body panel-body">
                                        <ul class="nav navbar-nav" role="tablist">
                                            {{#each meetingsData}} {{#if @key}}
                                            <li role="presentation">
                                                {{else}}
                                                <li role="presentation" class="active">
                                                    {{/if}}
                                                    <a class='meeting_li' href="#tab_{{_id}}" aria-controls="home" id="{{@key}}" role="tab" data-toggle="tab">{{title}} | {{titleChn}}</a>
                                                </li>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default panel-shadow" id="dropdown2" >
                                <a data-toggle="collapse" href="#dropdown-lvl2" class="dropdown-list down-meeting" style="border-bottom: 1px solid #e7e7e7;box-shadow: none;"> 
                                    <span>Past Meetings | 過往會議</span>
                                    <span class="sidebar-rt-arrow ">
                                        <i id="ispan2" class="fa fa-angle-right" style="font-size:27px;"></i>
                                    </span>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav" role="tablist">
                                            {{#each pastMeetingsData}}
                                            <li role="presentation">
                                                <a class='past-meeting' href="#tab_{{_id}}" aria-controls="home" role="tab" data-toggle="tab" id="{{@key}}">{{title}} | {{titleChn}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <br/>
                
            </div>

            <!-- Main Content -->
            <div class="custom_scroll_wrap">
                <div class="tab-content tab-wraper side-bar tls-wrapper">   
                    <div class="content-header">
                        <div class="row">
                            <div class="col-lg-5">
                                <h3 id="heading3">Upcoming Meeting <br>  近期會議</h3>
                            </div>
                            
                            <div id="headingBottom" class="col-lg-7">
                            <!-- <div class="meeting-btn add-meeting-btn">
                               <a href="/addMeeting" class="btn btn-primary">  Add a Meeting | 添加會議</a>
                            </div> -->
                            <div id="headingBottom2" >
                            </div>
                                <p id="endhour"> </p>
                            </div>
                            
                        </div>
                    </div>      
                    {{#each meetingsData as |value meeting_key|}} {{#if @key}}
                    <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                        {{else}}
                        <div role="tabpanel" class="tab-pane active" id="tab_{{_id}}">
                            {{/if}}
                            <div class="div-wrapper">
                                <div class="tls-content-box">
                                    <form role="form" name="edit_meeting_{{meeting_key}}" id="edit_meeting_{{meeting_key}}" action="" method="post">
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting Title | 會議標題</label>
                                        <input name="meeting_id" type="hidden" value="{{_id}}">
                                        <input id ='title_{{meeting_key}}'  style='display:none' type="text" class="form-control input_fields_{{meeting_key}}" name="title" value="{{title}}">
                                        <div id='title_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{title}}</div>
                                    </div>
                                    <div class="form-group col-sm-6 text-right">
                                        <div id="loading1"></div>
                                        <button class="btn edit_meeting1 btn-primary" id={{meeting_key}} type="button" data-id="{{meeting_key}}" data-time="{{created_at}}"  >Edit Meeting | 編輯會議</button>
                                        <div id ="loader"></div>
                                        <button class="btn btn-danger delete_meeting" type="submit" data-id="{{meeting_key}}" id="{{_id}}" data-time="{{created_at}}">Delete Meeting | 取消會議</button>
                                        <button style='display:none' class="btn btn-primary save_meeting" type="button" data-id="{{meeting_key}}">保存會議 | Save Meeting</button>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'> Meeting Start Time | 會議開始時間</label>
                                        <input id ='start_time_{{meeting_key}}' style='display:none' type="datetime-local" name="start_time" class="form-control input_fields_{{meeting_key}}" value="{{startTime}}">
                                        <div id='stime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{startTime}}</div>

                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting End Time | 會議結束時間</label>
                                        <input id ='end_time_{{meeting_key}}' style='display:none' type="datetime-local" name="end_time" class="form-control input_fields_{{meeting_key}}" value="{{endTime}}">
                                        <div id='etime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{endTime}}</div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Venue | 地點</label>
                                        <input t id ='venue_{{meeting_key}}' style='display:none' type="text" class="form-control input_fields_{{meeting_key}}" name="venue" value="{{venue}}">
                                        <div id='venue_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{venue}}</div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Agenda | 議程</label>
                                        <table class="table table-bordered table_custom_Wrapper">
                                            <tr>
                                                <th>
                                                    <label>ID | 指數</label>
                                                </th>
                                                <th>
                                                    <label>Document name | 文件名稱</label>
                                                </th>
                                            </tr>
                                            {{#each fileLinks}}
                                            <tr>
                                                <td>1</td>
                                                <td style="word-break: break-all;"><a href="{{this.url}}">{{this.name}}</a></td>
                                            </tr>
                                            {{/each}}
                                        </table>
                                    </div>
                                      <div class="form-group col-sm-6">
                                        <label class='custom_label'> Meeting Summary | 會議摘要</label>
                                        <input id ='meeting_summary_{{meeting_key}}' style='display:none' type="datetime-local" name="meeting_summary" class="form-control input_fields_{{meeting_key}}" value="{{startTime}}">
                                        <div id='stime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{meetingSummary}}</div>

                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting Summary Chinese | 會議概要中文</label>
                                        <input id ='meeting_summary_chinese_{{meeting_key}}' style='display:none' type="datetime-local" name="meeting_summary_chinese" class="form-control input_fields_{{meeting_key}}" value="{{endTime}}">
                                        <div id='etime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{meetingSummaryChn}}</div>

                                    </div><br/><br/>
                                    <div class="clearfix"></div>
                                </form>
                                <div class="clearfix"></div>
                                <div id="loader2"></div>
                                <div class="clearfix"></div>
                                 <button class="btn btn-primary add_pole" type="button" id="{{_id}}" data-id="{{meeting_key}}" data-time="{{created_at}}"> Add a poll | 添加投票</button>
                               </div>
                            </div>
                           
                            <div class="div-wrapper">
                                <div class="tls-content-box">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    {{#each polls}}
                                    <div class="panel panel-default" style='box-shadow:-5px 6px 9px -8px #888888;margin-left: 1%;margin-right: 1%;'>
                                        <a role="button" data-toggle="collapse" style='color:black' data-parent="#accordion" href="#poll_{{_id}}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    {{pollNameChn}} | {{pollName}} 
                                                </h4>
                                                <h6 class="pull-right" style="margin-top: -23px">
                                                Vote by | 投票截止於: {{endTime}}
                                                </h6>
                                            </div>
                                        </a>
                                        {{#if @key}}
                                        <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            {{else}}
                                            <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                {{/if}}
                                                <div class="panel-body">
                                                    <form role="form" name="poll_form_{{@key}}" id="poll_form_{{meeting_key}}_{{@key}}">
                                                        <div class="form-group col-sm-12">
                                                            <label class='custom_label'>Summary</label>
                                                            <input type="hidden" name="poll_id" value="{{pollId}}">

                                                            <textarea rows="3" class="form-control input_fields_{{meeting_key}}" name="summary" readonly="true">{{summary}}</textarea>
                                                            <div id='summary_div' class='display_meetings_detail_{{meeting_key}}'></div>

                                                        </div>

                                                        <div class="form-group col-sm-12">
                                                            <label class='custom_label'>概要</label>
                                                            <input type="hidden" name="poll_id" value="{{pollId}}">

                                                            <textarea rows="3" class="form-control input_fields_{{meeting_key}}" name="summary" readonly="true">{{summaryChn}}</textarea>
                                                            <div id='summary_div' class='display_meetings_detail_{{meeting_key}}'></div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <div class="col-sm-6">
                                                            <div class="tls-voting-option-box">
                                                                 <label class='custom_label'>VOTING OPTIONS | 投票選項</label>
                                                                <ul>
                                                                    {{#each options as |value|}}
                                                                    <li>- {{value}}</li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label>Uploaded Documents | 已上傳的文件</label>
                                                            <table class="table table-bordered table_custom_Wrapper">
                                                                <tr>
                                                                    <th>
                                                                        <label>ID | 指數</label>
                                                                    </th>
                                                                    <th>
                                                                        <label>Document Name | 文件名稱</label>
                                                                    </th>
                                                                </tr>
                                                                {{#each fileLinks as |value file_key|}}
                                                                <tr>
                                                                    <td>{{file_key}}</td>
                                                                    <td style="word-break: break-all;"><a href ={{this.url}}>{{this.name}}</a></td>
                                                                   
                                                                </tr>
                                                                {{/each}}
                                                            </table>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group col-sm-6">
                                                        </div>
                                                    </form>
                                                    <div id="dialog1" title="Alert message" style="display: none; ">
                                                        <div class="ui-dialog-content ui-widget-content">
                                                            <p>
                                                                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                                                                <label id="lblMessage1">
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class= "col-sm-4 pull-right">
                                                        <div class="input_fields_wrap " id="{{meeting_key}}">
                                                        <button value="{{@polls}}" class="edit_pole_button  btn btn-primary" id="{{@key}}">修改投票 | Edit Poll</button>
                                                         <button value="{{@polls}}"  class="delete_poll_btn btn btn-danger" id="{{@key}}">修改投票 | Delete Poll</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                </div>
                            </div>
                            {{/each}}
                                
                    {{#each pastMeetingsData as |value meeting_key|}} {{#if @key}}
                    <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                        {{else}}
                        <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                            {{/if}}
                            <div class="div-wrapper">
                                <form role="form" name="edit_meeting_{{meeting_key}}" id="edit_meeting_{{meeting_key}}" action="/deleteMeeting" method="post">
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting Title | 會議標題</label>
                                        <input name="meeting_id" type="hidden" value="{{id}}">
                                        <input id ='title_{{meeting_key}}'  style='display:none'  type="text" class="form-control input_fields_{{meeting_key}}" name="title" value="{{title}}">
                                        <div id='title_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{title}}</div>
                                    </div>
                                    <div class="form-group col-sm-6 text-right">
                                    
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting Start Time | 會議開始時間</label>
                                        <input id ='start_time_{{meeting_key}}' style='display:none' type="datetime-local" name="start_time" class="form-control input_fields_{{meeting_key}}" value="{{startTime}}">
                                        <div id='stime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{startTime}}</div>

                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Meeting End Time | 會議結束時間</label>
                                        <input id ='end_time_{{meeting_key}}' style='display:none' type="datetime-local" name="end_time" class="form-control input_fields_{{meeting_key}}" value="{{endTime}}">
                                        <div id='etime_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{endTime}}</div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-sm-6">
                                        <label class='custom_label'>Venue | 地點</label>
                                        <input t id ='venue_{{meeting_key}}' style='display:none' type="text" class="form-control input_fields_{{meeting_key}}" name="venue" value="{{venue}}">
                                        <div id='venue_div_{{meeting_key}}' class='display_meetings_detail_{{meeting_key}}'>{{venue}}</div>
                                    </div>
                                    <div class="orfm-group col-sm-6">
                                        <label class='custom_label'>Agenda | 議程</label>
                                        <table class="table table-bordered table_custom_Wrapper">
                                            <tr>
                                                <th>
                                                    <label>ID | 指數</label>
                                                </th>
                                                <th>
                                                    <label>Document Name | 文件名稱</label>
                                                </th>
                                            </tr>
                                            {{#each fileLinks}}
                                            <tr>
                                                
                                                                    <td>1</td>
                                                                    <td style="word-break: break-all;"><a href ="{{this.url}}">{{this.name}}</a></td>
                                                                    
                                            </tr>
                                            {{/each}}
                                        </table>
                                        <div class = "add" id= "addAgenda"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            <div class="div-wrapper">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                      {{#each polls}}
                                    <div class="panel panel-default" style='box-shadow:-5px 6px 9px -8px #888888; margin-left: 20px; margin-right: 20px'>
                                        <a role="button" data-toggle="collapse" style='color:black' data-parent="#accordion" href="#poll_{{_id}}" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    {{pollNameChn}} | {{pollName}} 
                                                </h4>
                                                <h6 class="pull-right" style="margin-top: -23px">
                                                Vote by | 投票截止於: {{endTime}}
                                                </h6>
                                            </div>
                                        </a>
                                        {{#if @key}}
                                        <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                            {{else}}
                                            <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                {{/if}}
                                                <div class="panel-body">
                                                    <form role="form" name="poll_form_{{@key}}" id="poll_form_{{meeting_key}}_{{@key}}">
                                                        <div class="form-group col-sm-12">
                                                            <label class='custom_label'>Summary</label>
                                                            <input type="hidden" name="poll_id" value="{{pollId}}">

                                                            <textarea rows="3" class="form-control input_fields_{{meeting_key}}" name="summary" readonly="true">{{summary}}</textarea>
                                                            <div id='summary_div' class='display_meetings_detail_{{meeting_key}}'></div>

                                                        </div>

                                                        <div class="form-group col-sm-12">
                                                            <label class='custom_label'>概要</label>
                                                            <input type="hidden" name="poll_id" value="{{pollId}}">

                                                            <textarea rows="3" class="form-control input_fields_{{meeting_key}}" name="summary" readonly="true">{{summaryChn}}</textarea>
                                                            <div id='summary_div' class='display_meetings_detail_{{meeting_key}}'></div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                        <div class="col-sm-6">
                                                            <div class="tls-voting-option-box">
                                                                 <label class='custom_label'>VOTING OPTIONS | 投票選項</label>
                                                                <ul>
                                                                    {{#each options as |value|}}
                                                                    <li>- {{value}}</li>
                                                                    {{/each}}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-sm-6">
                                                            <label>Uploaded Documents | 已上傳的文件</label>
                                                            <table class="table table-bordered table_custom_Wrapper">
                                                                <tr>
                                                                    <th>
                                                                        <label>ID | 指數</label>
                                                                    </th>
                                                                    <th>
                                                                        <label>Document name | 文件名稱</label>
                                                                    </th>
                                                                </tr>
                                                                {{#each fileLinks as |value file_key|}}
                                                                <tr>
                                                                    <td>{{file_key}}</td>
                                                                    <td style="word-break: break-all;"><a href ={{this.url}}>{{this.name}}</a></td>
                                                                   
                                                                </tr>
                                                                {{/each}}
                                                            </table>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <div class="form-group col-sm-6">
                                                        </div>
                                                    </form>
                                                    <div id="dialog1" title="Alert message" style="display: none; ">
                                                        <div class="ui-dialog-content ui-widget-content">
                                                            <p>
                                                                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                                                                <label id="lblMessage1">
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>

                                                    <div id="dialog2" title="Alert message" style="display: none; ">
                                                        <div class="ui-dialog-content ui-widget-content">
                                                            <p>
                                                                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                                                                <label id="lblMessage2">
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <br/>
                            </div>
                            {{/each}}


                        </div>
                    </div>
                </div>  
           
               
           <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                Home | 主頁
                            </a>
                        </li>

                        {{!-- <li>
                            <a href="/">
                                Portfolio/過往客戶
                            </a>
                        </li> --}}
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="/telos">Telos</a> | Transforming the way you manage your estate
                </p>
            </div>
        </footer>
        </div>
    </div>
</div>
 <div id="edit_model" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog dialogModal" style="width: 60%">
                    
                </div>
            </div>



<div id="poll" class="modal  fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a Poll | 增加投票</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/editPoll" method="post" name="editpoll_form" id="editpoll_form" enctype="multipart/form-data" >
                    <div class="form-group col-sm-6">
                        <label>Poll Title</label>
                        <input type = "hidden" name="meeting_title" id="meeting_title"/>
                        <input type = "hidden" name="id" id="id"/>
                        <input type="text" name="pollName" id="title" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>投票标题</label>
                        <input type="text" name="pollNameChn" id="title_chinese" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Summary</label>
                        <textarea name="summary" id="summary" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>概要</label>
                        <textarea type="datetime-local" name="summaryChn" id="summary_chinese" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>VOTING OPTION | 投票選項</label>
                        <br/>
                        <button class="add_field_button1 btn btn-primary pull-left">Add Options | 增加選項</button><br/><br/><br/>
                        <div class="input_fields_wrap voting_opt1 tls-Vot-box-main">
                            <div class="tls-Vot-box">   
                                <input  class="pull-left tls-Voting-options" type="text" name="option" id="option" placeholder="E.g. Yes/是" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Add Documents | 增加文件</label>
                        <p>
                        <button class="add_documents btn btn-primary">Add documents | 上傳文件</button>
                        <div class="documents_wrapper">
                        <div class ="added_files" ></div>
                        </div>
                        </p>
                    </div>
                                    <button type="submit" class="btn btn-primary" id="close_model" style="float: right;"> 确认 | Confirm</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        
    </div>
      
</div>    
<div id="poll2" class="modal  fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a poll</h4>
            </div>
            <div class="modal-body">
                <form  role="form" action="/addPollsOfMeeting" method="post" enctype="multipart/form-data"  name="#poll_form" id="poll_form" >
                    <div class="form-group col-sm-6 formlabel">
                        <label>Poll Title</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>投票標題</label>
                        <input type="text" name="title_chinese" class="form-control">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-sm-6">
                        <label>Summary</label>
                        <textarea name="summary" class="form-control"></textarea>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>概要</label>
                        <textarea type="datetime-local" name="summary_chinese" class="form-control"></textarea>
                    </div>
                    <div class="clearfix"></div>
                    
                    <div class="form-group col-sm-6">
                        <label>VOTING OPTION | 投票選項</label>
                        <br/> 
                        <button class="add_field_button btn btn-primary addoptionbtn pull-left" style="margin-bottom:2%">Add Options | 增加選項</button>
                        <br/><br/><br/>
                        <div class="input_fields_wrap voting_opt tls-Vot-box-main">
                            <div class="tls-Vot-box">
                                 <input   class="pull-left tls-Voting-options"  type="text" name="option0" id="option" placeholder="E.g. Yes/是" required>
                            </div>  
                        </div>
                    </div>

                    <div class="form-group col-sm-6">
                        <label>Add Documents</label>
                        <p>
                        <button class="add_documents addoptionbtn btn btn-primary" type="button">Add documents | 上傳文件</button>
                        <div class="documents_wrapper" id="documents_file">
                        </div>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-primary btn-success" id="close_model2" style="float: right;"> Confirm | 确认</button>
                </form>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
        
    </div>
      
</div>   
<div id="dialog2" title="Alert message" style="display: none; ">
                                                        <div class="ui-dialog-content ui-widget-content">
                                                            <p>
                                                                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                                                                <label id="lblMessage2">
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>     
</body>
</html>
<script type="text/javascript">

    function hd(){
        var hd = $("#customMainComponent").height()  
        $("#sidebarMenu").css({"min-height":hd})
    }
    $(document).ready(function () {
         hd();
        $("body").delegate(".flatpickr", "focusin", function(){
            $(this).flatpickr({
            enableTime: true,
         });
        const html = `<p class="close-calendar">Confirm | 確認</p>`;
        $(".flatpickr-calendar").append(html);
        $(".close-calendar").click(function(){
             $(".flatpickr-calendar").removeClass("open", 1000, "easeInBack" );
        })
        });
        $(".panel-heading").click(function(){
            setTimeout(()=>{hd();},500)
        })
         var tabSelected = localStorage.getItem("tab");       
        if(tabSelected){
            var tabDiv = localStorage.getItem("divTab");
            var a = 'a[id='+tabSelected+']';
            var a0 = 'div[id='+tabDiv+']';
            var a1 = "li[class='active']";
            var a2 = "div[class='active']";
            $( "div.active" ).removeClass('active')
            $(a1).removeClass()
            $(a).parent().addClass('active');
            $(a0).addClass('active');
            localStorage.removeItem("tab");
            localStorage.removeItem("divTab");
        }

        $(".delete_meeting").click(function(event){
            event.preventDefault();
            const id = event.target.id
            ShowCustomDialog2("Are you sure you want to delete this meeting? | 確定刪除會議 ？", id)
            localStorage.removeItem("tab");
            localStorage.removeItem("divTab");
          })
         
        function convertSerializeArrayToJson(serilizeArray) {
            var form_json = {};
            serilizeArray.forEach(function (obj) {
                form_json[obj.name] = obj.value;
            });
            return form_json;
        }
        var originalData = '{{{stringify meetingsData}}}';
        originalData = JSON.parse(originalData);
        $('.meeting_li').click(function (event) {
            $('.save_meeting').hide()
            $('#heading3').text('Upcoming Meeting | 近期會議')
            var html = ''
            $('#headingBottom2').html('')
            var id = event.target.id
            var ids = 'tab_'+originalData[id]._id;
            localStorage.setItem("tab", id);
            localStorage.setItem("divTab", ids);
            var firstDate = new Date(originalData[id].startTime);
            var secondDate = new Date();
           // secondDate.setHours(firstDate.getHours());
           // secondDate.setMinutes(firstDate.getMinutes());
            var diff = firstDate - secondDate;  
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
             var one_day=1000*60*60*24;
            var days = (diff/one_day).toFixed();
            if( days < 0){
                days =0;
            }
            days = 'Days remaining to edit or delete polls | 剩下的時間可以取消或修改投票: ' + days + ' 天';
            $( "#endhour" ).text(days)
        }) 
        $('.past-meeting').click(function (event) {
            var data = '{{{stringify pastMeetingsData}}}'
            data = JSON.parse(data)
            $('.save_meeting').hide()
            $('#heading3').text('Past Meetings | 過往會議')
            $( "#endhour" ).text('')
            var html = ''
             $('#headingBottom2').html('')
             html= `<a href=${data[event.target.id].pollReport} download="pollReport"><button class="btn btn-primary headingbtn dwn-btn download-btn"  type="button" id= "dwn-btn">Download Poll Report | 下載投票報告</button> </a>`
            $('#headingBottom2').append(html)
        }) 

        $(".up-meeting").click(function(event){
            var add = $( "#ispan" ).hasClass( "right-arrow-add" );
            if(add){
                $( "#ispan" ).removeClass( "right-arrow-add" );
            }else{
                $( "#ispan" ).addClass( "right-arrow-add" );
            }
            
        })
         $(".down-meeting").click(function(event){
            var add = $( "#ispan2" ).hasClass( "right-arrow-add" );
             if(add){
                $( "#ispan2" ).removeClass( "right-arrow-add" );
            }else{
                $( "#ispan2" ).addClass( "right-arrow-add" );
            }
            
        })

        $(".delete_poll_btn").on('click' , function(event){
        var parentId = event.target.parentElement.id;
        var childId = event.target.id;
         var originalData = '{{{stringify meetingsData}}}';
         originalData = JSON.parse(originalData);
            var poll = originalData[parentId].polls[childId]
            const data = {}
            data.meetingId = originalData[parentId]._id
            data.pollId = originalData[parentId].polls[childId]._id
            const HostName = "http://localhost:3000"
            $.ajax({
                url: HostName + "/deletePoll",
                data: data,
                type: 'POST',
                success: function (data) {
                    location.reload()
                },
                err: function(err){
                    console.log(err)
                }

            });
    })
//        
        $("#close_model2").click(function (event) {
            $("#poll2").modal("hide");
            $(".add_pole").prop('disabled', true);
             $.each($(".voting_opt :input[name*='option']"), function(data, key){  
              options1.push($(this).val())
            });
              var newArray = options1.filter(function(v){return v!==''});
              newArray = jQuery.unique(newArray)
              $(".voting_opt").append('<input type ="hidden" name="options" value="'+newArray+'"/>')
               index1 = index1 + 1
               var html = '<img id="theImg" class ="meeting-loader" src= "assets/img/load.gif " />'
                $("#loader2").append(html);
              /*  var html = '<img id="theImg" class ="loader" src= "assets/img/load.gif "/>'
            $("#loading").append(html);*/
        })    

        $("#close_model").click(function () {
            //optionEdit=[]
            var optionEdit = []
            $.each($(".voting_opt1 :input[name*='option1']"), function(data, key){ 
              optionEdit.push($(this).val())
            });
              var newArray = optionEdit.filter(function(v){return v!==''});
              newArray = jQuery.unique(newArray)
              var html = '<img id="theImg" class ="meeting-loader" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
                $("#loader3").append(html);
               //$('#options_field').val(JSON.stringify(newArray));
              $(".voting_opt1").append('<input type ="text" name="options" value="'+newArray+'" hidden>')
            //    index1 = index1 + 1

        $("#poll").modal("hide");
           
        })    
         var optionWrapper1 = $(".voting_opt1"); //Fields wrapper
        var add_option_button1 = $(".add_field_button1"); //Add button ID
        $(add_option_button1).click(function(e){ //on add input button click
            e.preventDefault();
            $(optionWrapper1).append('<div class="input_div tls-Vot-box"><input class="pull-left tls-Voting-options" placeholder="E.g. Yes/是" type="text" name="option1"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }); 
        var docWrapper = $(".documents_wrapper")
        var add_document_button = $(".add_documents");
        var index = 0 
        $(add_document_button).click(function (e) { //on add input button click
            e.preventDefault();
            $(docWrapper).append(`<div><input type="file" name=${index} class=" fileValue" style ="width: 50%; display: inline;" id="fileValues" value=""  accept="application/pdf"/><a href="#" class="remove_field">Remove</a></div><br />`); //add choose file box
            index = index + 1
        });

        var optionWrapper = $(".voting_opt"); //Fields wrapper
        var add_option_button = $(".add_field_button"); //Add button ID
                var index1 = 1 
                 var options1 = []
           
        $(add_option_button).click(function(e){ //on add input button click
            e.preventDefault();
            $(optionWrapper).append('<div class="input_div tls-Vot-box"><input type="text" class="pull-left tls-Voting-options" name="option"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
             
        });
       
        $(document).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); 
            $(this).parent('div').remove();
        })
        var removedFilepolls = []
          $('.documents_wrapper').on("click",".remove_file", function(e){
           //user click on remove text
            e.preventDefault(); 
            $(this).parent('div').remove();
           var name =  $(this).parent('div').attr('name');
            removedFilepolls.push(name)
            $('.added_files').append(`<input type = "hidden" name="removedfiles" value=${removedFilepolls}>`)
        })
        function edit_popup(data){
            var html = '<div class="div-wrapper" style="padding: 10px;">'+
            '<h3 class= "heading">' + "Upcoming Meeting | 近期會議"+ '</h3>' + '                                        <button class=" btn btn-danger deleteMeeting deletebtn btn-danger" type="submit" id={{data._id}} data-id={{data._id}} data-time="">Delete Meeting | 取消會議</button>' + '<hr>' +
            
'                                <form role="form" enctype="multipart/form-data" name="edit_meeting_popup" id="edit_meeting_popup" action="/editMeeting" method="post">'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class=""> Meeting Title </label>'+
'                                        <input name="meeting_id" type="hidden" value="'+data._id+'">'+
'                                        <input id ="title" type="text" class="form-control input_fields" name="title" value="'+data.title+'">'+
'                                        <label class="">會議標題</label>'+
'                                        <input id ="titleChn" type="text" class="form-control input_fields" name="titleChn" value="'+data.titleChn+'">'+
'                                        <div id="" class=""></div>'+
'                                    </div>'+
'                                    <div class="form-group col-sm-6 text-right">'+
'                                    </div>'+
'                                    <div class="clearfix"></div>'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class=""> Meeting Summary </label>'+
'                                        <textarea id ="" type="text" name="meetingSummary" class="form-control input_fields_" >'+ data.meetingSummary + '</textarea>' +
'                                        <div id="" class=""></div>'+
''+
'                                    </div>'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class=""> 會議概要</label>'+
'                                         <textarea id ="" type="text" name="meetingSummaryChn" class="form-control input_fields_" >'+ data.meetingSummaryChn + '</textarea>' +
'                                        <div id="" class=""></div>'+
''+
'                                    </div>'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class=""> Meeting Start Time | 會議開始時間</label>'+
'                                        <input id ="" type="text" name="start_time" class="flatpickr datetimepicker form-control input_fields_" value="'+data.startTime+'">'+
'                                        <div id="" class=""></div>'+
''+
'                                    </div>'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class="">Meeting End Time | 會議結束時間</label>'+
'                                        <input id =""  type="text" name="end_time" class="flatpickr datetimepicker form-control input_fields" value="'+data.endTime+'">'+
'                                        <div id="" class=""></div>'+
''+
'                                    </div>'+
'                                    <div class="clearfix"></div>'+
'                                    <div class="form-group col-sm-6">'+
'                                        <label class="">Venue | 地點</label>'+
'                                        <input t id ="" type="text" class="form-control input_fields" name="venue" value="'+data.venue+'">'+
'                                        <div id="" class=""></div>'+
'                                    </div>'+
'                                   <div id="removedfiles">'+ '</div>' +
'                                    <div class="form-group col-sm-6">'+
'                                        <label class="">Agenda | 議程</label>';
                                      if(data.fileLinks[0]){
                          html = html + '<table class="table table-bordered table_custom_Wrapper">'+
'                                            <tr>'+
'                                                <th>'+
'                                                    <label>ID</label>'+
'                                                </th>'+
'                                                <th>'+
'                                                    <label>Document name</label>'+
'                                                </th>'+
'                                            </tr>'+
'                                            <tr>'+
'                                                <td id="hide1">1</td>'+
                                                    '<input name="fileLinks" type="hidden" value="'+ data.fileLinks[0].name +'">'+
'                                                <td id="hide">'+ data.fileLinks[0].name + '                                        <button  class="remove_file removebtn" type="button" id="'+ data.fileLinks[0].name +'"> X </button>'+
'</td>'+
'                                            </tr>'+
'                                        </table>';
                                      }else{
                                        html = html +    '<div class = "add" id= "addAgenda">'+ '<input name="fileField" id ="addFile" type="file" class="form-control input_fields />' + '</div>';
                                      }
            html = html +    '<div class = "add" id= "addAgenda">'+ '<input name="fileField" id ="addFile" type="file" class="form-control input_fields />' + '</div>'+
'                                    </div>'+
'                                    <div class="clearfix"></div>'+
'                                        <button  class=" btn save_meeting savebtn" type="submit" data-id=""> Save | 儲存</button>'+
'                                        <button  class="btn cancel_meeting savebtn" type="button" data-id="">Cancel | 取消</button>'+
'                                </form>'+
'                            </div>';
    

                return html; 
        }
        $(document).on('click','.edit_meeting1',function(event){
            event.preventDefault();
            var data = originalData[event.target.id]
             var modelhtml = edit_popup(originalData[event.target.id]);

              $("#edit_model .modal-dialog").html(modelhtml);
                $("#edit_model").modal();
                 $('#addFile').hide()
        })
        $(document).on('click','.remove_file',function(event){
            event.preventDefault();
            var removedfile = event.target.id
            var html = '<input type="hidden" name="removedfiles" value="'+removedfile+'"/> '
            $('#removedfiles').append(html)
           $('#hide').hide()
           $('#hide1').hide()
           $('#addFile').show()
        })
       
        $(document).on('click','.cancel_meeting',function(event){
            $("#edit_model").modal('hide');
        })
        $(document).on('click','.save_meeting',function(event){
            $("#edit_model").modal('hide');
            var html = '<img id="theImg" class ="meeting-loader" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
            $("#loading1").append(html);
            $(".edit_meeting1").prop('disabled', true);
            var meetingform = $("#edit_meeting_popup").serializeArray();
            var meetingData = convertSerializeArrayToJson(meetingform);

        });
    
        $('.add_pole').click(function(event) {
            const id = event.target.id
            $("#poll2").modal();
            var html = '<input type="hidden" name="meeting_id" value="'+id+'"/> '
             $("#poll2 .formlabel").append(html);
        })

        $('#dropdown ul>li').click(function () {
            $('#dropdown2 ul>li').removeClass('active');
        });
        $('#dropdown2 ul>li').click(function () {
            $('#dropdown ul>li').removeClass('active');
        });
        var optionEdit = []
        $('.edit_pole_button').click(function (event) {
              var parentId = event.target.parentElement.id;
            var childId = event.target.id;
            var originalData = '{{{stringify meetingsData}}}';
             originalData = JSON.parse(originalData);
            var poll = originalData[parentId].polls[childId]
            var lastDate = new Date(originalData[parentId].startTime)
            var meeting_title = originalData[parentId].title
            //lastDate = lastDate.setDate(lastDate.getDate() + 3);
            //lastDate = new Date(lastDate)
            var diff = lastDate - new Date()
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
            var one_day=1000*60*60*24;
            console.log((diff/one_day).toFixed())
            if((diff/one_day).toFixed() < 14){
                ShowCustomDialog1('you are not allowed to edit the poll.')
                event.preventDefault()
            }else{
                
                $('#editpoll_form')[0].reset();
                //$('.documents_wrapper1').reset();
                $("#poll").modal();
                $("#meeting_title").val(meeting_title);
                $("#title").val(poll.pollName);
                $("#id").val(poll._id);
                $("#title_chinese").val(poll.pollNameChn);
                $("#project_name").val(poll.projectName);
                $("#project_name_chinese").val(poll.projectNameChn);
                $("#summary").val(poll.summary);
                $("#summary_chinese").val(poll.summaryChn);
                $( ".voting_opt1 :input[name*='option']" ).remove();
                $(".voting_opt1 .remove_field").remove();
                var optionWrapper = $(".voting_opt1");
                $.each(poll.options, function( index, value ) {
                $(optionWrapper).append('<div class="input_div tls-Vot-box"><input class="pull-left tls-Voting-options" type="text" value="'+value+'" name="option1"/><a href="#" class="remove_field">Remove</a></div>');
                });
                $('.added_files').html('');
                $.each(poll.fileLinks, function( index, value ) {
                $('.added_files').append('<div name="'+value.name+'"><input type="hidden" value="'+value.name+'" name="fileLinks" readonly/><span style="padding-right: 10px;">' + value.name  + '</span><a href="#" class="remove_file removebtn"> Remove </a></div>');
                });
 
            }
        });
        function ShowCustomDialog1(data)
            {
            ShowDialogBox1('Warning',data,'Ok', 'GoToAssetList',null);
            }
            function ShowDialogBox1(title, content, btn1text, functionText, parameterList) {
                var btn1css;
                var btn2css;
                if (btn1text == '') {
                    btn1css = "hidecss";
                } else {
                    btn1css = "showcss";
                }
                $("#lblMessage1").html(content);
                $("#dialog1").dialog({
                    resizable: false,
                    title: title,
                    modal: true,
                    width: '400px',
                    height: 'auto',
                    bgiframe: false,
                    stack: true,
                    buttons: [
                                    {
                                        text: btn1text,
                                        "class": btn1css,
                                        click: function () {
                                                                                    
                                            //$("#dialog1").dialog('close');
                                            $(this).dialog("close"); 
                                        }
                                    },
                                ]
                });
}

            function ShowCustomDialog2(data, id)
            {
            ShowDialogBox2('Warning',data,'Ok', 'GoToAssetList',null, id);
            }
            function ShowDialogBox2(title, content, btn1text, functionText, parameterList, id) {
                const meeting_id = id
                var btn1css;
                var btn2css;
                if (btn1text == '') {
                    btn1css = "hidecss";
                } else {
                    btn1css = "showcss";
                }
                $("#lblMessage2").html(content);
                $("#dialog2").dialog({
                    resizable: false,
                    title: title,
                    modal: true,
                    width: '400px',
                    height: 'auto',
                    bgiframe: false,
                    stack: true,
                    buttons: [
                                    {

                                        text: btn1text,
                                        "class": btn1css,
                                        click: function (event) {
                                           const HostName = "http://localhost:4000"
                                            $.ajax({
                                                url: HostName + "/deleteMeeting",
                                                data: {meetingId: meeting_id},
                                                type: 'POST',
                                                
                                            })
                                             $(this).dialog("close"); 
                                            var html = '<img id="theImg" class ="meeting-loader" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
                                             $("#loader").append(html);                                  
                                              location.reload()
                                            //$("#dialog1").dialog('close');
                                           
                                        }
                                    },
                                    {
                                        text: "Cancel",
                                        "class": btn1css,
                                        click: function (event) {                                           
                                             $(this).dialog("close");                                          
                                            //$("#dialog1").dialog('close');
                                           
                                        }
                                    },
                                ]
                });
}

       /* $(".custom_scroll_wrap").mCustomScrollbar();*/
    });
</script>