<!--[if lt IE 9]>
<head>

<script src="es5-shim.min.js"></script>
<![endif]-->
<!--  Survey CSS 1    -->
<link href="assets/css/admin-survey-css/light-bootstrap-dashboard.css" rel="stylesheet"/>
<!--  Survey CSS 2     -->

<link href="assets/css/admin-survey-css/demo.css" rel="stylesheet" />  
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="assets/css/flatpickr.min.css"/>
    <script src="assets/js/flatpickr.js"></script>
   </head>
<style>
    .datetimepicker {
        background-color: #FFFFFF;border: 1px solid #E3E3E3;border-radius: 4px;color: #565656;padding: 8px 12px;"
    }
     .close-calendar{
            cursor: pointer;
    }
</style>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                    {{estateNameDisplay}}
                </a>
                <a href="/" class="simple-text">
                    {{estateNameChn}} 
                </a>
            </div>
            <ul class="nav">
                <li class="active">
                    <a href="/Noticeboard">
                        <i class="pe-7s-note2"></i>
                        <p>NOTICEBOARD
                            <br> 通告
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/allMeetings">
                        <i class="pe-7s-folder"></i>
                        <p>MEETINGS
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/getSurveys">
                        <i class="pe-7s-graph"></i>
                        <p>Surveys</p>
                        <p>問卷</p>
                    </a>
                </li>
                 <li>
                    <a href="/getForum">
                        <i class="pe-7s-science"></i>
                        <p>Forum
                            <br> 論壇
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-back"></i>
                        <p>LOG OUT
                            <br> 登出
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">NoticeBoard | 通告</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content" style="padding-bottom:0; min-height:800px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add a Notice | 大廈通告</h4>
                            </div>
                            <div class="content">
                                <form method="post" id="noticeForm" enctype="multipart/form-data" action="/addNotice">
                                    <div class="row">
                                        <div class="col-md-10">
                                        <span id="popupError" class="errorField"></span>
                                            <div class="form-group">
                                                <label>*Notice Heading</label>
                                                <input type="text" class="form-control" placeholder="Title" name="title" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>*通告標題</label>
                                                <input type="text" class="form-control" placeholder="Title Chinese" name="titleChn" required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- YOUR WORK HERE -->
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>*Audience</label>
                                                <select class="form-control" name="audience"  id="audience" required>
                                                    <option value="">Please select</option>
                                                    <option value="allResidents">All Residents/所有住戶</option>
                                                    {{#each data}}
                                                    <option value="{{@key}}">{{@key}}/Towers/座</option>
                                                    {{/each}}
                                                </select>
                                                <div id="block_list">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label for="example-datetime-local-input">*Effective Until | 通告有效時間</label>
                                                <input name="endTime" class="flatpickr datetimepicker" type="text" placeholder="Select Date.." data-id="confirmDate" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">        
                                        <div class="col-md-6">
                                            <div class="documents_wrapper">
                                                <input type="file" name="filefield" accept="application/pdf" required/>

                                                
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <div id="loading"></div><br/><br/><br/>
                                    <input type = "hidden" onclick="hiddenClass()" class = "submitHidden  btn-info btn-fill pull-right" />
                                    <button type="submit" class="btn submitNotice submit-space btn-primary pull-right">Confirm and Add Notice | 確認并添加</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Current Notices | 已發出通告</h4>
                            </div>
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Post Date | 發出日期</th>
                                        <th>Notice | 通告</th>
                                        <th>Effective Until | 有效期至</th>
                                        <th> </th>
                                    </thead>
                                    <tbody>

                                    
                                        {{#if notices}} 
                                        {{#each notices as |value key|}}
                                        <tr>
                                            <td>{{value.postDate}}</td>
                                            {{#each this.fileLinks}}
                                            <td>
                                             <a target="_blank" href={{this.url}} class="view-pdf" >{{value.title}} <br> {{value.titleChn}}</a>
                                            </td>
                                            {{/each}}
                                            <td>{{this.endTime}}</td>

                                            <td class="deleteNotice" id="{{value._id}}"> x </td>
                                        </tr>
                                        {{/each}}
                                        {{else}}
                                        <tr>
                                            <td>N/A</td>
                                            <td>
                                                <a data-toggle="modal" data-target="#myModal">No Notices Found <br> 沒有已發出通告</a>
                                            </td>
                                            <td>N/A</td>
                                        </tr>
                                        {{/if}}
                                    </tbody>
                                </table>

                            </div>
                        </div>    
                    </div>
                </div>

            </div>
        </div>

       <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="/">
                                                            Home | 主頁
                            </a>
                        </li>

                        {{!-- <li>
                            <a href="/">
                                Portfolio/過往客戶
                            </a>
                        </li> --}}
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="/telos">Telos</a> | Transforming the way you manage your estate
                </p>
            </div>
        </footer>

    </div>
</div>
<div id="floor_model" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        
    </div>
</div>
<div id="dialog2" title="Alert message" style="display: none; ">
                                                        <div class="ui-dialog-content ui-widget-content">
                                                            <p>
                                                                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0"></span>
                                                                <label id="lblMessage2" style="display: inherit;">
                                                                </label>
                                                            </p>
                                                        </div>
                                                    </div>   
<script>
    $(document).ready(function () {
        const HostName = window.location.origin
        $(".flatpickr").flatpickr({
            enableTime: true,
            dateFormat: "m/d/YTh:i:K"
        });
        const html = `<p class="close-calendar">Confirm | 確認</p>`;
        $(".flatpickr-calendar").append(html);
        $(".close-calendar").click(function(){
             $(".flatpickr-calendar").removeClass("open", 1000, "easeInBack" );
        })
        function populate_modal_pdf() {
            var html = '<div class="modal-content">' +
                            '<div class="modal-header">' +
                                '<h4 class="modal-title">title '+ '</h4>' +
                            '</div>' +
                            '<div class="modal-body body-pdf">'+
                                '<div class="row">'+
                                    '<div class="col-sm-12 text-center mg-bot">'+
                                        
                                    '</div>'+
                                '</div>'+
                            '</div>';
                    
            html = html + '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-success confirm-btn" id="closePdf">Close</button>' +
                    '</div>'+'</div>';
            return html;
        }


        function get_list(data) {
            var html = "";
            for (var key in data) {
                var li = "<div class='checkbox checkbox-circle'><input id='floor_checkbox_"+key+"' type='checkbox' class='floor' data-id='" + key + "'/><label for='floor_checkbox_"+key+"'>" + key + "</label></div>";
                html = html + li;
            }
            html = html + "</ul>"
            return html;
        }

        function populate_modal(blockdata) {
            var html = '<div class="modal-content">' +
                    '<div class="modal-header">' +
                        '<h4 class="modal-title">Select Floors/選擇樓層:' + 'Block ' + blockdata['name'] + '</h4>' +
                    '</div>' +
                    '<div class="modal-body">'+
                    '<div class="row">'+
                    '<span id="popupOptError" class="errorField"></span>'+
                        '<div class="col-sm-12 text-center mg-bot">'+
                            '<div class="selectall checkbox checkbox-circle">'+
                                '<input type="checkbox" id="select_all"/><label for="select_all"> Select All/選擇全部 </label>'+
                            '</div>'
                        '</div>'+
                        '<div class="col-sm-12">';
                    var block = "";
                    blockdata['data'].forEach(function(x){
                        block = block + '<div class="col-sm-2 pd-bot floor-div">'+
                               '<div class="checkbox-circle checkbox">'+
                                    '<input id="block_checkbox_'+x+'" type="checkbox" data-id='+x+' class="block_checkbox" name="block_floor"/><label for="block_checkbox_'+x+'"> '+ x +'</label>'+
                                '</div>'+
                        '</div>';
                    })
                    html = html + block;
            html = html + '</div></div></div>' +
                    '<div class="modal-footer">' +
                        '<button type="button" class="btn btn-success confirm-btn" id="confirm">Confirm/確認</button>' +
                        '<button type="button" class="btn btn-success confirm-btn" id="cancel">Cancel</button>' +
                    '</div>' +
                    '</div>'
            return html;
        }
        
        function getSelectedFloor(){
            var floors = [];
            $.each($(".block_checkbox:checked"), function(){            
                floors.push($(this).data('id'));
            });
            return floors;
        }
        var data = '{{{stringify data}}}';
        if(data != ''){
        data = JSON.parse(data);
        }
        var selectedAudiance = null;
        var selectedBlook = null;
        var selectedData = {};
        
        $("#audience").change(function () {
            selectedAudiance = $(this).val();
            var blockList = data[selectedAudiance];
            var list = get_list(blockList)
            selectedData = {};
            selectedData[selectedAudiance] = {};
            
            $("#block_list").html(list);
        });

        $(document).on("change", "#select_all", function () {
            if ($(this).is(":checked")) {
                $(".floor-div .block_checkbox").prop('checked', true);
            }else{
                $(".floor-div .block_checkbox").prop('checked', false);
            }
        })
        $(document).on("change", ".floor", function () {
            if ($(this).is(":checked")) {
                var key = $(this).data('id');
                selectedBlook = key;
                var modeldata = {"name": key, data: data[selectedAudiance][key]};
                var modelhtml = populate_modal(modeldata);
                $("#floor_model .modal-dialog").html(modelhtml);
                selectedData[selectedAudiance][key] = [];
                $("#floor_model").modal();
            }else{
                delete selectedData[selectedAudiance][key]
            }
        });
        
        $(document).on('click','.submitNotice',function(event){

             if ($("#noticeForm").valid()) {
                var html = '<img id="theImg" class ="loader" alt="Telos Technology" src= "assets/img/load.gif "/>'
                    $("#loading").append(html);
                    setTimeout(function(){ $(".submitNotice").prop('disabled', true); }, 200);
             }else{
                $("#popupError").text("*All fields are mandatory | 請填寫所有欄目"); 
             }
            
                       
        })
        $(document).on('click','#closePdf',function(){
            $("#floor_model").modal('hide');
        })
        $(document).on('click','#confirm',function(){
            selectedData[selectedAudiance][selectedBlook] = getSelectedFloor();
            if(!selectedData[selectedAudiance][selectedBlook].length){
                $("#popupOptError").text("*All fields are mandatory"); 
                return false;
            }
            $("#floor_info").val(JSON.stringify(selectedData));
            $("#floor_model").modal('hide');
        })
         $(document).on('click','#cancel',function(){
            var id = "#floor_checkbox_"+selectedBlook;
                 $(id).attr('checked', false);
            $("#floor_model").modal('hide');
        })
           $(document).on('click','.deleteNotice',function(event){
            ShowCustomDialog2("Are you sure you want to delete this notice? | 確定刪除通告 ？", event.target.id)
            })
         function ShowCustomDialog2(data, id)
            {
            ShowDialogBox2('Warning',data,'Ok', 'GoToAssetList',null, id);
            }
            function ShowDialogBox2(title, content, btn1text, functionText, parameterList, id) {
                const notice_id = id
                var btn1css;
                var btn2css;
                if (btn1text == '') {
                    btn1css = "hidecss";
                } else {
                    btn1css = "showcss";
                }
                $("#lblMessage2").html(content);
                $("#dialog2").dialog({
                    resizable: false,
                    title: title,
                    modal: true,
                    width: '400px',
                    height: 'auto',
                    bgiframe: false,
                    stack: true,
                    buttons: [
                                    {

                                        text: btn1text,
                                        "class": btn1css,
                                        click: function (event) {
                                            $.ajax({
                                                url: HostName + `/deleteNotice?id=${notice_id}`,
                                                type: 'GET',
                                                
                                            })
                                             $(this).dialog("close"); 
                                            var html = '<img id="theImg" class ="meeting-loader" alt="Telos Technology" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
                                             $("#loader").append(html);                                  
                                              location.reload()
                                           
                                        }
                                    },
                                    {
                                        text: "Cancel",
                                        "class": btn1css,
                                        click: function (event) {                                           
                                             $(this).dialog("close");                                          
                                           
                                        }
                                    },
                                ]
                });
}

    });

</script>