{{!-- <div class="div-wrapper" id='poll_wrapper'>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {{#each meetingsPollData }}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a   data-toggle="collapse" data-aid ='{{@key}}' class='show-panel'  data-parent="#accordion" aria-controls="collapseOne" href="#panel_data_{{@key}}">
                            <h4 class="panel-title">
                            {{title}}
                            </h4>
                        </div>
                        </a>
                        <div id="panel_data_{{@key}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Project_name :{{project_name}}</p>
                                <p>Summary:{{Summary}}</p>
                            </div>
                        </div>
                    </div>
            {{/each}}
        </div>
    </div>
</div> --}}
{{!-- <div id="accordion"> --}}
     {{#each meetingsPollData }}
    <h3>{{title}}</h3>
    <div>
        <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel,
            gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur
            malesuada. Vestibulum a velit eu ante scelerisque vulputate.</p>
    </div>
    {{/each}}
{{!-- </div>   --}}